# This file defines the code owners for this repository.
# Code owners are automatically requested for review when a pull request
# modifies files that they own.
#
# For more information, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @microsoft/elevate-industry-solutions
